.banner{

    background: radial-gradient(rgba(0,0, 0, 0.5), #152401),url(/assets/img/clock.jpg);
    background-position: center; 
    background-size: cover; 
    height: 500px;
    width:auto;
    color:#fff;
}
h5,h4{
    text-align:center;
    font-family:cursive;
    
}
button{
    color:white;
   
        background-color: rgb(97, 74, 15) ;
        width:200px;
        height:40px;
        border-radius: 10px;
        font-size: 20px;
    
}
button:hover{
    background-color:  rgb(179, 146, 62);
}
.card{
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
}
.header{
    position:absolute;
}
.header h2{
 padding-top:70px;
 padding-bottom:0;
 font-weight:600px;
 position: relative;
 animation: h2 5s 1;
 text-align: center;
 font-weight: 900px;
 /* margin-left:450px !important; */
}
@keyframes h2{
0%{
    color: transparent;
}
30%{
    letter-spacing: 20px;

}
}
