<div class="banner">
    <div class="header">
        <h2>Antique Bazar</h2>
        </div>
</div><br><br>
<!-----------------Intro------------------->
<section class="contents">
<div class="container">
  <div class="row">
  
    <br>
    <br>
    <h5 style="color:rgb(135, 99, 7);">Our collection</h5>
  <p style="font-family: cursive;">Antique Bazar has a rich collection of Vintage clocks and watches, Arts & paintings, Stamps, Coins and Bank currencies.  and Dissertations. A good number of books are added every year.  Our collection has now crossed 3Lakhs and continues to grow exponentially. Individuals who are passionate about Antique stuff can purchase them for reasonable rate.</p>
   
  
  </div></div>
</section>
  <br>
  <br>

   


  
              
 
<br><br>
 
<!--Our collection-->  
<div class="container">
  <div class="row" >       

 
     
      <div class="col-sm-3"> 
  
        <div class="card" style="width: 20rem;">
  <img class="card-img-top"  style="height: 15rem; border-radius: 10px;"  src="/assets/img/1973-india-stamps-dr-b-r-ambedkar-59506-83664-1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" style="color:black; height:20px; text-align:left;">Title</h5>
   </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style= "font-family:cursive; height:40px;">Cost</li>
    
  </ul>
  <div class="card-body">
    <button class="card-link" style= "font-family:cursive;  height:40px;" >Read More</button>
  
  
  </div> </div><br> 
       <br>
        </div>



        <!--Our collection--> 
        <div class="col-sm-3"> 
  
            <div class="card" style="width: 20rem;">
      <img class="card-img-top"  style="height: 15rem; border-radius: 10px;"  src="/assets/img/1973-india-stamps-dr-b-r-ambedkar-59506-83664-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="color:black; height:20px; text-align:left;">Title</h5>
       </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style= "font-family:cursive; height:40px;">Cost</li>
        
      </ul>
      <div class="card-body">
        <button class="card-link" style= "font-family:cursive; height:40px;" >Read More</button>
      
      
      </div> </div><br> 
           <br>
            </div>


<!--Our collection--> 


            <div class="col-sm-3"> 
  
                <div class="card" style="width: 20rem;">
          <img class="card-img-top"  style="height: 15rem; border-radius: 10px;"  src="/assets/img/1973-india-stamps-dr-b-r-ambedkar-59506-83664-1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="color:black; height:20px; text-align:left;">Title</h5>
           </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style= "font-family:cursive; height:40px;">Cost</li>
            
          </ul>
          <div class="card-body">
            <button class="card-link" style= "font-family:cursive;  height:40px;" >Read More</button>
          
          
          </div> </div><br> 
               <br>
                </div>
       <!--Our collection--> 
        <div class="col-sm-3"> 
  
            <div class="card" style="width: 20rem;">
      <img class="card-img-top"  style="height: 15rem; border-radius: 10px;"  src="/assets/img/1973-india-stamps-dr-b-r-ambedkar-59506-83664-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="color:black; height:20px; text-align:center;">Title</h5>
       </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style= "font-family:cursive; height:40px;">Cost</li>
        
      </ul>
      <div class="card-body">
        <button class="card-link" style= "font-family:cursive;  height:40px;" >Read More</button>
      
      
      </div> </div><br> <br><br>
           <br>
            </div>
           
             
     
    
    </div>
    

  
  </div>
  <br>
  <br>